@model Dominio.Dominio.Editorial

@{
    ViewBag.Title = "Detalle de la Editorial";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">🏢 Detalle de la Editorial</h2>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-4">Código Editorial</dt>
                <dd class="col-sm-8">@Html.DisplayFor(m => m.CodigoEditorial)</dd>

                <dt class="col-sm-4">Nombre</dt>
                <dd class="col-sm-8">@Html.DisplayFor(m => m.Nombre)</dd>

                <dt class="col-sm-4">País</dt>
                <dd class="col-sm-8">@Html.DisplayFor(m => m.Pais)</dd>
            </dl>

            <div class="text-end mt-3">
                @Html.ActionLink("Editar", "Edit", new { id = Model.CodigoEditorial }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-secondary ms-2" })
            </div>
        </div>
    </div>
</div>
